name: mcomp_plc_utils
description: "A new Flutter package project."
version: 1.11.3
homepage:

environment:
  sdk: ^3.8.0
  flutter: ">=1.17.0"

dependencies:
  battery_plus: ^7.0.0
  cloud_firestore: ^6.0.2
  connectivity_plus: ^7.0.0
  device_info_plus: ^12.1.0

  firebase_auth: ^6.1.0
  firebase_messaging: ^16.0.2
  firebase_storage: ^13.0.2
  flutter:
    sdk: flutter
  flutter_local_notifications: ^20.0.0
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  json_serializable: ^6.6.0
  logging: ^1.3.0
  mailto: ^2.0.0
  package_info_plus: ^9.0.0
  path_provider: ^2.1.5
  shared_preferences: ^2.5.3
  url_launcher: ^6.3.1
  web_socket_channel: ^3.0.1

dev_dependencies:
  build_runner: ^2.4.14
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  freezed: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
